@import "../../../styles.scss";

.container__menu {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding: 0 0 1rem;
  border-bottom: 1px solid red;
}

.menu > li {
  cursor: pointer;
  // border: 1px solid red;
  border-radius: 0.825rem;
  padding: 0.5rem;
  border: 2px solid #ef626c;
}

.menu > li:hover {
  // background-color: $dark-background;

  background-color: $primary-color;
}

.menu__title {
  font-size: 10rem;
  font-family: "Archivo Black", sans-serif;
}
